<!-- Header -->
<header>
    <nav class="navbar">
        <div class="logo">
            <h1>Library Management System</h1>
        </div>
        <ul class="nav-links">
            <li><a routerLink="/library/members"><i class="fa-solid fa-arrow-left"></i> Go Back</a></li>
        </ul>
    </nav>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <h2 class="text-center mb-4 mt-4">Add New Member</h2>
    </div>
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input [(ngModel)]="member.name" name="name" type="text" class="form-control" id="memberName" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="member.email" name="email" type="email" class="form-control" id="email" placeholder="Enter Email">
                </div>

                <div class="form-group">
                    <input [(ngModel)]="member.contactno" name="number" type="text" class="form-control" id="number"
                        placeholder="Enter Contact Number">
                </div>

                <div class="form-group">
                    <label for=" date">Joining Date</label>
                    <input [(ngModel)]="member.membersince" name="date" type="date" class="form-control" id="date" placeholder="Enter Joining Date">
                </div>

                <div class="form-group">
                    <input [(ngModel)]="member.photo" name="image" type="text" class="form-control" id="image" placeholder="Enter Image Address">
                </div>
                
                <div class="form-group">
                    <input [(ngModel)]="member.dues" name="dues" type="text" class="form-control" id="dues" placeholder="**Enter 'No Dues'">
                </div>
                
                <div class="form-group">
                    <label for="book">Book Status</label>
                    <select [(ngModel)]="member.book" name="book" class="form-control" id="book">
                        <option selected disabled>Status</option>
                        <option>Assigned</option>
                        <option>Not Assigned</option>
                    </select>
                </div>

                <div class="form-group">
                    <input [(ngModel)]="member.bookname" name="bookname" type="text" class="form-control" id="bookname" placeholder="Enter 'Nil'">
                </div>

                <button (click)="addMember()" type="submit" class="btn btn-primary mb-5">Add Member <i class="fa-solid fa-plus"></i></button>
            </form>
        </div>
        <div class="col-6">
            <div class="image-container">
                <img [src]="member.photo" alt="Member Image" class="book-image">
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="social-icons">
        <a href="#" class="icon">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#" class="icon">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="#" class="icon">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
    <p>&copy; 2023 Library Management System</p>
</footer>